<!DOCTYPE html>
<html lang="en">
<head>
    <meta cahset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Информация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <% include blocks/header.ejs %>
    <div class="Block">
        <h1> Чему я научился </h1>
        <p> Я научился создавать локальный сайт, на который можно выводить
            какой то свой текст. При этом отслеживать URL, менять шрифт, цвет и тд.
        </p>
        <p>Спасибо!</p>
        <p>
            <b>Email:</b> <%= data.email %><br>
            <b>Pass:</b> <%= data.pass %><br>
            <b>isCheck</b> <%= data.check %>
        </p>

    </div>
</body>
</html>