<!DOCTYPE html>
<html lang="en">
<head>
    <meta cahset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заголовок страницы</title>
    <style>
     body {background-color: #b57c86;}
     h1 {color: white; font-size: 2em}
     p {color: #fafafa; font-size: 1.1em}
     </style>
</head>
<body>
    <% include blocks/header.ejs %>
 <h1>Hello world!</h1>
 <p> Windows 10 – самая свежая версия ОС от Microsoft.
    И, похоже, что она задержится на компьютерах надолго: некоторые даже говорят, что все последующие будут лишь ее обновлениями. 
    Тем актуальнее становится активация Windows 10. 
    Будем честными, далеко не все пользуются для этого законными способами вроде покупки в магазине, когда на просторах сети есть активатор Windows 10.
    
    Ниже я расскажу о различных методах активации. А также о том, что делать, если не активируется Windows 10.
    
    1. Зачем активировать Windows 10
    А зачем вообще морочить себе голову какой-то активацией? 
    Старые версии же как-то работали и без нее. Действительно, в «десятке » такой режим тоже предусмотрен. 
    Но давайте посмотрим, что будет если не активировать Windows 10 и попытаться продолжить работать.
    
    Легкие косметические изменения вроде сбрасывания фона рабочего стола и постоянно маячащего уведомления о необходимости активации можно назвать цветочками. 
    Отсутствие официальной поддержки также едва ли сильно смутит. А вот невозможность нормально настроить персонализацию уже заставляет заерзать на стуле. 
    Но самое неприятное – это постоянные автоматические перезагрузки через несколько часов работы. Да и кто знает, что еще придумают инженеры Microsoft в следующих обновлениях. 
    Так что вопрос с активацией лучше решить поскорее.
    
    2. Как активировать Windows 10?
    Для активации операционная система предусматривает использование цифровой лицензии или же 25-значного ключа.
    
    Цифровая лицензия позволяет получить активированную Windows вообще без ввода ключа. 
    Этот способ актуален при бесплатном обновлении с лицензионной «семерки» или «восьмерки», 
    при покупке «десятки» в Магазине Windows, а также для участников тестирования Insider Preview. 
    В этом случае система активируется автоматически после установления связи с Интернетом и обработки данных на серверах Microsoft.
    
    Если купить ключ для Windows 10, то во время установки этот ключ необходимо будет ввести по запросу системы.
    Активация выполняется автоматически после подключения к мировой паутине. Аналогичным образом проводится проверка подлинности при чистой установке.
    
    2.1. Активация Windows 10 по телефону
    Если связи с интернетом нет или сервера Microsoft слишком загружены и не отвечают (такое тоже бывает), сработает активация Windows 10 по телефону. 
    Сразу скажу, что искать соответствующий пункт в меню и настройках дольше, чем сделать так:
    
    Нажмите Win+R, введите slui 4 и нажмите Enter.
    Появится окно с выбором страны, укажите свою и нажмите Далее.
    Остается позвонить по номеру, который покажет система, и четко выполнить инструкции с автоответчика. Лучше сразу приготовьтесь записывать то, что будет произнесено.
    Затем введите полученный код активации Windows 10 и нажмите Активация Windows.
    Как видите, ничего сложного.
    
    2.2. Как купить ключ для Windows 10
    Если вам нужен ключ продукта для Windows 10 лицензионный ключ от старых версий ОС вроде XP не подойдет. 
    Вам потребуется именно актуальный 25-символьный код. 
    Вот какие есть способы получить его: вместе с коробочной ОС (если вы решились сходить в магазин за диском), 
    вместе с цифровой копией ОС (то же самое, но в официальном онлайн магазине, например на сайте Microsoft), либо в рамках корпоративной лицензии или подписки MSDN.
    
    Последний из легальных вариантов – ключ на устройстве, которое продается с «десяткой» на борту. При необходимости его просто нужно будет ввести по запросу системы. 
    Скажу честно, это не самый дешевый вариант – разве что вам очень нужен новый Windows-планшет или смартфон.
    
    2.3. Как активировать Windows 10 без ключа
    А теперь я расскажу, как активировать Виндовс 10 если нет ключа – то есть старым добрым пиратским манером. Учтите, что согласно лицензионному соглашению делать это вы не должны, да и по закону тоже. Так что действуйте на свой страх и риск.
    
    Итак, если вы ищете, как активировать Windows 10 без ключа и без покупки лицензии за кровно заработанные денежки, то вам понадобится активатор. Их в сети много, но выбирайте внимательно. Дело в том, что мошенники приспособились маскировать под них самые настоящие вирусы. 
    При попытке использовать такой «активатор» вы лишь заразите систему, можете лишиться данных, 
    а в худшем случае опрометчиво введете данные банковской карточки и потеряете все сбережения с нее.
    
    3. Программы для активации Windows 10
    Хорошая программа для активации Windows 10 эффективно обойдет защитный механизм и сделает ОС послушной, как ручной пес. 
    Хорошая программа не будет ставить вам рекламу или тормозить систему. Хорошая программа – это в первую очередь KMSAuto Net. 
    Во-первых, она постоянно обновляется и совершенствуется. Во-вторых, действительно решает вопрос, как активировать Windows 10 бесплатно и навсегда. 
    Ну, или пока Microsoft не научится ее блокировать, и пока не выйдет новая версия активатора. 
    В-третьих, создатель программы Ratiborus на форуме ru-board.com ведет огромную тему, где отвечает на вопросы и выкладывает актуальные версии своих наработок.
    
    
    3.1. Windows 10 активатор KMS
    Для Windows 10 активатор KMS можно смело назвать лучшим средством. Во-первых, очень давно разрабатывается, так что опыта автору не занимать. 
    Во-вторых, простая для рядовых пользователей. В-третьих, быстро работает.
    
    С активацией Windows 10 KMSAuto Net, самая удобная, на мой взгляд, версия программы, справляется играючи. Учтите, что для нормальной работы ей может потребоваться .NET Framework (на многих компьютерах он и так есть).
    
    Перечислю основные ее особенности:
    
    очень простая программа, не требует особых знаний для использования;
    есть продвинутый режим для тех, кому нужны тонкие настройки;
    бесплатная;
    проверяет активацию (вдруг у вас уже все работает, а вы не знали);
    поддерживает всю линейку систем от Vista до 10;
    поддерживает серверные версии ОС;
    попутно может активировать MS Office актуальных версий;
    использует целый набор средств для обхода активационного механизма, причем по умолчанию сама выбирает оптимальный.
    А еще она снабжена инструкцией на нескольких языках, включая русский. В ней подробно расписаны тонкости работы в разных режимах и другая продвинутая информация.
    
    Итак, как же ей пользоваться. Вот пошаговая инструкция.
    
    1. Сначала, разумеется, скачать и установить. Если не хотите устанавливать – скачайте переносную (portable) версию.
    
    2. Запустите программу с администраторскими правами: правый клик на значке – выберите Запустить от имени Администратора.
    
    3. Откроется главное окно, в котором есть две кнопки – Активация и Информация.
    
    4. Информация покажет вам статус Windows и Office. Если хотите – убедитесь в необходимости активации.
    
    5. Нажмите Активация. Утилита сама подберет оптимальный способ и проведет активацию. А затем напишет результаты в поле вывода чуть ниже кнопок. Убедитесь, что там указано, что активация выполнена.
    Теперь настроим автоматический обход активации – установим свой KMS сервис. Это специальная служба, которая подменяет соответствующую защитную систему от Microsoft, так что проверка ключей производится на локальной машине. 
    Иными словами, ваш компьютер будет думать, что проверил активацию у Microsoft, хотя на самом деле это, естественно, не так.
    
    6. Перейдите на вкладку Система.
    
    7. Нажмите кнопку Установить KMS-Service. Надпись на кнопке сменится на «Выполняется», затем утилита отрапортует об успешной установке. 
    Готово, система активирована и будет теперь обращаться к установленной активатором службе для проверки статуса.
    Если вы не хотите устанавливать дополнительную службу, можно настроить Планировщик Windows. 
    Тогда он самостоятельно будет делать «контрольный выстрел» (заново активировать при необходимости) через указанное количество дней. 
    Для этого на вкладке Система в разделе Планировщик нажмите кнопку Создать задачу. Активатор может предупредить, что создаст задание в папке программы – согласитесь с ним.
    
    А теперь пара слов о продвинутом режиме. Если перейти на вкладку О программе и нажать кнопку Профессиональный режим, то появятся еще несколько вкладок с настройками.
    Но это для тех, кому важны всякие тонкости вроде настройки IP, а не просто ответ на вопрос как активировать Windows 10.
    На вкладке Дополнительно можно сохранить данные активации и попробовать стандартную активацию.
    
    Вкладка Утилиты содержит еще несколько инструментов для активации.
    
    3.2. Другие активаторы
    Кроме активатора KMS есть и другие, менее популярные. Например, Re-Loader Activator – он также просит .NET, умеет активировать Office, и тоже достаточно простой.
    
    4.Что делать, если не активируется Windows 10?Бывает и так, что система работала, а потом вдруг слетела активация Windows 10. 
    Если у вас лицензионная копия – то прямая вам дорога в службу поддержки Microsoft. Можно предварительно почитать список ошибок по ссылке 
    Если же работал активатор, то надо просто заново провести активацию. Мешает антивирус – добавьте в исключения файлы активатора и устанавливаемую им службу.
    В крайнем случае, выключите антивирус на время активации.
    Теперь вам под силу самостоятельно активировать «десятку». Если что-то не получилось – пишите в комментариях, разберемся вместе.</p>
</body>
</html>