<!DOCTYPE html>
<html lang="en">
<head>
    <meta cahset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Информация</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <% include blocks/header.ejs %>
    <div class="Block">
        <h1> Новостная страница с ID - <%=newsId%></h1>
        <p><b>Title:</b> <%=obj.title%></p>
        <p><b>ID:</b> <%=obj.title%></p>
        <p> Пока новостей нет. Sorry, try later.
        </p>
        <ul>
            <% obj.paragraphs.forEach(function(item) { %>
                <li><%= item %></li>
                <% }); %>
            
        </ul>
        
    </div>
</body>
</html>